@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	background-color: rgb(30, 29, 40);
 	height: 100vh;
	width: 100vw;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app{
	width: 1000px;
	color: white;
	font-family: "Roboto", sans-serif;

}

