*{
	box-sizing: border-box;
}
.listItem{
	background-color: rgb(16, 15, 22);
	border-radius: 15px;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px 0px 25px;
	margin: 5px 0px;
	transition: all 0.2s ease;
}
.check{
	font-size: 20px;
	margin-right: 15px;
}
.completed{
	background-color: rgb(45, 95, 45)!important;
}
.deleteButton {
  	height: 35px;
  	width: 35px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	background: none;
  	border-radius: 10px;
  	border: 2px solid rgb(177, 50, 50);
  	color: rgb(177, 50, 50);
  	font-size: 22px;
  	cursor: pointer;
  	transition: all 0.2s ease;
  	margin-left: auto;
}

.completed .deleteButton {

  	border: 2px solid rgb(16, 15, 22);
  	color: rgb(16, 15, 22);

}

.deleteButton:hover {
  	color: rgb(255, 255, 255);
  	background-color: rgb(177, 50, 50);
  	transform: scale(1.05);
}

.completed .deleteButton:hover {
  	color: rgb(255, 255, 255);
  	background-color: rgb(16, 15, 22);
  	transform: scale(1.05);
}

.listInput{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.listInput input{
	height: 45px;
	width: 100%;
	border-radius: 15px 5px 5px 15px;
	margin-right: 2px;
	background-color: rgb(29, 26, 48);
	border-color: rgb(25, 130, 221);
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	padding-left: 15px;
}
.listInput input:focus{
	outline: none;
	box-shadow: none;
}
.listInput button{
	width: 55px;
	height: 45px;
	font-size: 30px;
	text-align: center;
	color: rgb(29, 26, 48);
	background-color: rgb(25, 130, 221);
	border-color: rgb(25, 130, 221);
	border-radius: 5px 15px 15px 5px;
}
